*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    place-items: center;
    text-align: center;
    text-transform: capitalize;
    grid-template-rows: max-content;
}
.clock{
    /* color: #fff; */
    display: flex;
    font-size: 70px;
}
.clock .container{
    color: rgba(0, 0, 0, .9);
    font-weight: 500;
    padding: 5px 10px;
}
.clock .dots{
    color: black;
    /* padding: 5px 0px; */
}
.flag{
    color: #000;
    font-size: 30px;
    align-items: center;
    display: flex;
}
footer{
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: #fff;
}
/* ///////////////////////// */

.mainClock{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dde1e7;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: inset -3px 3px 7px #ffffff73,
                 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.mainClock::before{
    content: '';
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    box-shadow: inset -3px 3px 7px #ffffff73,
                 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.mainClock::after{
    content: '';
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: -1px -1px 5px #ffffff73,
                 1px 1px 3px rgba(94, 104, 121, 0.288);
}
.mainClock .centerNet{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #404040;
    z-index: 2;
    position: absolute;
}
.mainClock .centerNet2{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #3498db;
    z-index: 15;
    position: absolute;
}

.indicators div{
    position: absolute;
    width: 2px;
    height: 5px;
    background-color: #404040;
}
.indicators div:nth-child(1){
    transform: rotate(30deg) translateY(-100px);
}
.indicators div:nth-child(2){
    transform: rotate(60deg) translateY(-100px);
}
.indicators div:nth-child(3){
    transform: rotate(90deg) translateY(-100px);
    background-color: #3498db;
}
.indicators div:nth-child(4){
    transform: rotate(120deg) translateY(-100px);
}
.indicators div:nth-child(5){
    transform: rotate(150deg) translateY(-100px);
}
.indicators div:nth-child(6){
    transform: rotate(180deg) translateY(-100px);
    background-color: #3498db;
}
.indicators div:nth-child(7){
    transform: rotate(210deg) translateY(-100px);
}
.indicators div:nth-child(8){
    transform: rotate(240deg) translateY(-100px);
}
.indicators div:nth-child(9){
    transform: rotate(270deg) translateY(-100px);
    background-color: #3498db;
}
.indicators div:nth-child(10){
    transform: rotate(300deg) translateY(-100px);
}
.indicators div:nth-child(11){
    transform: rotate(330deg) translateY(-100px);
}
.indicators div:nth-child(12){
    transform: rotate(360deg) translateY(-100px);
    background-color: #3498db;
}

.secHand, .minHand, .hrHand{
    position: absolute;
}
.secHand, .sec{
    height: 180px;
    height: 180px;
    z-index: 6;
}
.minHand, .min{
    height: 140px;
    height: 140px;
    z-index: 5;
}
.hrHand, .hr{
    height: 110px;
    height: 110px;
    z-index: 4;
}
.sec, .min, .hr{
    display: flex;
    justify-content: center;
}
.sec::before{
    position: absolute;
    content: '';
    height: 110px;
    width: 3px;
    background-color: #3498db;
}
.sec::after{
    position: absolute;
    content: '';
    height: 35px;
    width: 7px;
    background-color: #3498db;
    top: 105px;
    border-radius: 5px;
}
.min::before{
    position: absolute;
    content: '';
    top: -15px;
    width: 1px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 60px solid #e95949;
}
.min::after{
    position: absolute;
    content: '';
    top: 40px;
    width: 3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 30px solid #e95949;
}
.hr::before{
    position: absolute;
    content: '';
    width: 1px;
    /* background-color: #ff1414; */
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 35px solid #e95949;
}
.hr::after{
    position: absolute;
    content: '';
    width: 3px;
    /* background-color: #eb0404; */
    top: 35px;
    border-radius: 5px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 25px solid #e95949;
}